.tour{
    display: flex;
    margin: 30px 50px;
    flex-direction: column;
}
.section1{
    display: flex;
}
.section2{
    display: flex;
}
.details{
    display: flex;
    flex-direction: column;
    height: 700px;
}
.content{
    display: flex;
    flex-direction: column;
}
.container2{
    margin-left: -10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 700px;
}
.Place {
    margin: 20px;
    height: 50px;
    overflow-x: scroll; 
    scroll-behavior: smooth;
    font-size: 30px;
    color: black;
}
.Place::-webkit-scrollbar{
    display: none;
}
.Ratings{
    display: flex;
    align-items: center;
    margin: 20px;
    font-size: 20px;
}
.Place_desc{
    width: 680px;
    margin: 10px;
    text-align: justify;
}
.city{
    font-weight: bold;
    color: black;
}
.map-details{
    display: flex;
    margin: 20px;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    font-weight: bold;
}
.route{
    background-color: orange;
    padding: 10px;
    width: 200px;
    border: none;
    border-radius: 20px;
    border: 1px solid white;
    transition: 0.3s ease-in-out;
}
.route:hover{
    border: 1px solid orange;
    background-color: white;
    color: orange;
}

.form{
    display: flex;
    align-items: center;
    justify-content: space-between;
}